h2 Stats for #{full_name}
.columns.desktop-2
	p WIN%
	h1 #{standing.win_percentage}
.columns.desktop-2
	p +/-
	h1 .602
.columns.desktop-2
	p HR
	h1 .602
.columns.desktop-2
	p ERA
	h1 .602
.columns.desktop-2
	p WHIP
	h1 .602
.columns.desktop-2
	p K's
	h1 .602