.row
	.columns.desktop-12
		h1 162 Games
		p Click two teams to compare their seasons.
	.columns.desktop-6
		h2 American League
		.columns.desktop-4
			h2 East
			p Boston
			p New York
			p Tamba Bay
			p Toronto
			p Baltimore
		.columns.desktop-4
			h2 Central
			p Boston
			p New York
			p Tamba Bay
			p Toronto
			p Baltimore
		.columns.desktop-4
			h2 West
			p Boston
			p New York
			p Tamba Bay
			p Toronto
			p Baltimore
	.columns.desktop-6
		h2 National League
		.columns.desktop-4
			h2 East
			p Boston
			p New York
			p Tamba Bay
			p Toronto
			p Baltimore
		.columns.desktop-4
			h2 Central
			p Boston
			p New York
			p Tamba Bay
			p Toronto
			p Baltimore
		.columns.desktop-4
			h2 West
			p Boston
			p New York
			p Tamba Bay
			p Toronto
			p Baltimore
.spacer
.row
	.columns.desktop-6
		h2 Stats for Team One
		.columns.desktop-2
			p WIN%
			h1 .602
		.columns.desktop-2
			p +/-
			h1 .602
		.columns.desktop-2
			p HR
			h1 .602
		.columns.desktop-2
			p ERA
			h1 .602
		.columns.desktop-2
			p WHIP
			h1 .602
		.columns.desktop-2
			p K's
			h1 .602
	.columns.desktop-6
		h2 Stats for Team Two
		.columns.desktop-2
			p WIN%
			h1 .602
		.columns.desktop-2
			p +/-
			h1 .602
		.columns.desktop-2
			p HR
			h1 .602
		.columns.desktop-2
			p ERA
			h1 .602
		.columns.desktop-2
			p WHIP
			h1 .602
		.columns.desktop-2
			p K's
			h1 .602
	.columns.desktop-12
		h1 Season Comparisons
		.columns.desktop-2
			h2 WIN%
		.columns.desktop-2
			h2 +/-
		.columns.desktop-2
			h2 HR
		.columns.desktop-2
			h2 ERA
		.columns.desktop-2
			h2 WHIP
		.columns.desktop-2
			h2 K's
	.columns.desktop-12
		h1 INSERT CHART HERE