h1 162 Games

.hide-on-mobile 
	table
		tr
			th Stuff
			th Stuff
			th Stuff
			th Stuff
			th Stuff
		tr
			td Bleh
			td Bleh
			td Bleh
			td Bleh
			td Bleh
		tr
			td Bleh
			td Bleh
			td Bleh
			td Bleh
			td Bleh
		tr
			td Bleh
			td Bleh
			td Bleh
			td Bleh
			td Bleh
		tr
			td Bleh
			td Bleh
			td Bleh
			td Bleh
			td Bleh
		tr
			td Bleh
			td Bleh
			td Bleh
			td Bleh
			td Bleh
		tr
			td Bleh
			td Bleh
			td Bleh
			td Bleh
			td Bleh
		tr
			td Bleh
			td Bleh
			td Bleh
			td Bleh
			td Bleh
